body {
    background-color: #f5f5f5;
    font-family: sans-serif;
}

#divLeft {
    float: left;
    height: 100px;
    width: 34%;
}

#divRight {
    float: right;
    height: 100px;
    width: 66%;
}

#container {
    padding: 50px 35px 50px 35px;
}

a {
    text-decoration: none;
    color: #FF9933;
}

i {
    color: #FF9933;
}

#vcard {
    margin-top: 9px;
}

table {
    margin-left: -5px;
}

#controls {
    width: 100%;
}

#rightBox {
    align-content: flex-end;
}
